[submodule "coffee-blockchain-gui"]
	path = coffee-blockchain-gui
	url = https://github.com/silicoin-network/silicoin-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
        branch = main
[submodule "coffee-blockchain-gui"]
	path = coffee-blockchain-gui
	url = https://github.com/Coffee-Network/coffee-blockchain-gui
